body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;  /* по горизонтали */
  align-items: center;      /* по вертикали */
}

p {
  font-size: 32px;
  font-family: sans-serif;
}
